<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quotation 3 Local</title>
  </head>

  <style>
    *,
    ::after,
    ::before {
      margin: 0;
      box-sizing: border-box;
    }

    body {
      width: 210mm;
      height: 297mm;
      font-family: sans-serif;
      background-color: rgb(238 199 15);
    }

    .fullWidth {
      width: 100% !important;
    }

    .templateWrapper {
      margin: 10px;
      padding: 10px;
      /* border: 2px solid black; */
      padding: 50px 10px 0;
    }

    .topLogoSection {
      display: flex;
      justify-content: space-between;
    }

    .topHeading {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      gap: 2px;
    }

    .contactDetails {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 18px;
    }

    .addressEmail:nth-child(1) p {
      padding-bottom: 10px;
    }

    .contactDetails:nth-child(2) h4 {
      padding-bottom: 10px;
    }

    /* .gst {
            text-align: center;
        } */

    .gst h4 {
      padding-right: 28px;
    }

    table {
      width: 100%;
      border-collapse: collapse;
    }

    th,
    td {
      border: 0.5px solid #000000;
      text-align: left;
      font-size: 12px;
      padding: 2px;
    }

    th {
      padding: 5px;
    }

    td span {
      font-weight: 700;
    }

    .leftSide {
      width: 80%;
    }

    .rightSide {
      width: 20%;
      padding: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 0.5px solid #000000;
      text-align: center;
    }

    .rightSide span {
      font-weight: 700;
    }

    .personalDetailsInner {
      display: flex;
    }

    .personalDetails {
      margin-top: 10px;
    }

    .gstData p {
      padding-bottom: 10px;
    }

    .termsConditions {
      list-style: decimal;
      padding: 5px 15px;
    }

    .termsConditions li {
      /* margin-bottom: 10px; */
      font-size: 10px;
    }

    .pLoad {
      border-top: none !important;
      width: 80px;
    }
    .fLoad {
      border-top: none !important;
      width: 80px;
    }
    .taxWidth {
      width: 300px !important;
    }
    footer {
      position: sticky;
      bottom: 0;
      top: 60%;
      text-align: center;
    }

    @page {
      size: A4;
      margin: 0;
    }

    @media print {
      html,
      body {
        width: 210mm;
        height: 297mm;
      }
    }
  </style>

  <body>
    <div class="templateWrapper">
      <div class="topLogoSection">
        <div>
          <h6 style="margin-bottom: 8px">
            All India care No : <%- data.company_mobile %>
          </h6>
          <h6>Landline No. : <%- data.company_phone %></h6>
        </div>
        <div class="topHeading">
          <h5 style="padding-bottom: 3px">QUOTATION</h5>
          <div>
            <img
              src="<%- data.company_logo %>"
              alt="companyLogo"
              width="64"
              height="64"
            />
          </div>
          <h4><%- data.company_name %></h4>
          <p style="font-size: 12px"><%- data.company_address %></p>
          <p style="font-size: 12px"><%- data.company_email %></p>
        </div>

        <div
          style="
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-end;
          "
        >
          <h6>Quotation No. <%- data.quotation_number %></h6>
          <h6>GST: <%- data.company_gstin %></h6>
        </div>
      </div>

      <div class="personalDetails" style="margin-top: 20px">
        <div class="personalDetailsInner">
          <div class="leftSide">
            <table>
              <tr>
                <td style="border: none">
                  <span>Company Name : </span><%- data.client_company_name %>
                </td>
              </tr>
              <tr>
                <td style="border: none">
                  <span>Contact Person : </span><%- data.contact_person %>
                </td>
              </tr>
              <tr>
                <td style="border: none">
                  <span>Contact No : </span><%- data.contact_number %>
                </td>
              </tr>
              <tr>
                <td style="border: none">
                  <span>Address : </span> <%- data.client_address %>
                </td>
              </tr>
              <tr>
                <td style="border: none">
                  <span>Mail : </span> <%- data.client_email %>
                </td>
              </tr>
            </table>
          </div>
          <div class="rightSide">
            <p><span>Quotation Date</span> <br /><%- data.quotation_date %></p>
          </div>
        </div>
      </div>
      <div class="shiftingDetails" style="margin-top: 20px">
        <table>
          <tr>
            <td><span>SHIFTING TYPE : </span> <%- data.shifting_type %></td>
            <td>
              <span>SHIFTING LUGGAGE : </span><%- data.shifting_luggage %>
            </td>
          </tr>
        </table>
        <table>
          <tr>
            <td style="border-top: none">
              <span>SHIFTING FROM : </span><%- data.shifting_from %>
            </td>
          </tr>
          <tr>
            <td><span>SHIFTING TO : </span><%- data.shifting_to %></td>
          </tr>
        </table>
      </div>
      <div class="quotationDetails" style="margin-top: 20px">
        <table>
          <tr>
            <th>S.No.</th>
            <th>PARTICULARS</th>
            <th>PART LOAD</th>
            <th>FULL LOAD</th>
          </tr>
          <tr>
            <td>
              <p>1</p>
            </td>
            <td>
              <p>Freight/Transportation Charges</p>
            </td>
            <td><%- data.freightDetails.freightCharges.partLoadCharge %></td>
            <td><%- data.freightDetails.freightCharges.fullLoadCharge %></td>
          </tr>
          <tr>
            <td>
              <p>2</p>
            </td>
            <td>
              <p>Packing Charges</p>
            </td>
            <td><%- data.freightDetails.packagingCharges.partLoadCharge %></td>
            <td><%- data.freightDetails.packagingCharges.fullLoadCharge %></td>
          </tr>
          <tr>
            <td>
              <p>3</p>
            </td>
            <td>
              <p>Packing Charges with material</p>
            </td>
            <td>
              <%- data.freightDetails.packingMaterialCharges.partLoadCharge %>
            </td>
            <td>
              <%- data.freightDetails.packingMaterialCharges.fullLoadCharge %>
            </td>
          </tr>
          <tr>
            <td>
              <p>4</p>
            </td>
            <td>
              <p>
                Loading Charges …… Loading By <%-
                data.freightDetails.loadingCharges.loadingBy %>, Floor <%-
                data.freightDetails.loadingCharges.loadingFloor %>
              </p>
            </td>
            <td><%- data.freightDetails.loadingCharges.partLoadCharge %></td>
            <td><%- data.freightDetails.loadingCharges.fullLoadCharge %></td>
          </tr>
          <tr>
            <td>
              <p>5</p>
            </td>
            <td>
              <p>
                Unloading Charges …… Unloading By <%-
                data.freightDetails.unLoadingCharges.loadingBy %>, Floor <%-
                data.freightDetails.unLoadingCharges.loadingFloor %>
              </p>
            </td>
            <td><%- data.freightDetails.unLoadingCharges.partLoadCharge %></td>
            <td><%- data.freightDetails.unLoadingCharges.fullLoadCharge %></td>
          </tr>
          <tr>
            <td>
              <p>6</p>
            </td>
            <td>
              <p>Unpacking Charges & Rearranging</p>
            </td>
            <td>
              <%- data.freightDetails.unPackagingCharges.partLoadCharge %>
            </td>
            <td>
              <%- data.freightDetails.unPackagingCharges.fullLoadCharge %>
            </td>
          </tr>

          <tr>
            <td>
              <p>7</p>
            </td>
            <td>
              <p>
                Storage Charges From <%= data.storageCharges.fromDate %> to <%=
                data.storageCharges.toDate %>
              </p>
            </td>
            <td><%- data.storageCharges.amount %></td>
            <td><%- data.storageCharges.amount %></td>
          </tr>

          <% for (var i = 0; i < data.otherCharges.length; i++) { %>
          <tr>
            <td>
              <p><%= 8 + i %></p>
            </td>
            <td>
              <p>Other Charges - <%= data.otherCharges[i].field %></p>
            </td>
            <td><%= data.otherCharges[i].amount %></td>
            <td><%= data.otherCharges[i].amount %></td>
          </tr>
          <% } %>

          <tr>
            <td></td>
            <td>
              <p>TOTAL</p>
            </td>
            <td><%- data.totalAmountExcludingGST.partLoadTotalAmount %></td>
            <td><%- data.totalAmountExcludingGST.fullLoadTotalAmount %></td>
          </tr>
          <tr>
            <td></td>
            <td>
              <p>Surcharge @<%- data.surcharge.charge %>%</p>
            </td>
            <td><%- data.totalSurcharge.totalPartLoadSurcharge %></td>
            <td><%- data.totalSurcharge.totalFullLoadSurcharge %></td>
          </tr>

          <% if(data.transitInsurance.length > 0){ %> <%
          data.transitInsurance.forEach(function(insurance) { %>
          <tr>
            <td></td>
            <td>
              <p>
                Transit Insurance (accidental risk ) of the declared Goods value
                <%- insurance.value %> @<%- insurance.insurancePerc %>%
              </p>
            </td>
            <td><%- insurance.total %></td>
            <td><%- insurance.total %></td>
          </tr>
          <% }); %> <% } %>

          <tr>
            <td rowspan="2" style="border-right: none">
              <p>
                GST @ <%- data.gst.percentage %>% on the billing amount Extra
              </p>
            </td>
            <td colspan="3" style="padding: 0; border: none">
              <table>
                <% if (data.gst.type !== "IGST") { %>
                <tr>
                  <td colspan="3" style="border-top: none">
                    <p style="width: 380px">
                      CGST @<%- data.gst.percentage / 2 %>%
                    </p>
                  </td>
                  <td class="pLoad"><%- data.totalGST.partLoadGST / 2 %></td>
                  <td class="fLoad"><%- data.totalGST.fullLoadGST / 2 %></td>
                </tr>
                <tr>
                  <td colspan="3">
                    <p>SGST @<%- data.gst.percentage / 2 %>%</p>
                  </td>
                  <td class="pLoad"><%- data.totalGST.partLoadGST / 2 %></td>
                  <td class="fLoad"><%- data.totalGST.fullLoadGST / 2 %></td>
                </tr>
                <%} else { %>
                <tr>
                  <td colspan="3">
                    <p>IGST @<%- data.gst.percentage %>%</p>
                  </td>
                  <td style="width: 80px"><%- data.totalGST.partLoadGST %></td>
                  <td style="width: 80px"><%- data.totalGST.fullLoadGST %></td>
                </tr>
                <% } %>

                <tr>
                  <td colspan="3">GRAND TOTAL</td>
                  <td style="width: 80px">
                    <%- data.net_total.netPartLoadTotalIncludingGST %>
                  </td>
                  <td style="width: 80px">
                    <%- data.net_total.netFullLoadTotalIncludingGST %>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </div>

      <section style="margin: 20px 0">
        <h6 style="margin-bottom: 10px">TERMS & CONDITIONS:</h6>
        <ul class="termsConditions">
          <%- data.company_terms %>
        </ul>
      </section>
    </div>

    <footer>
      <div class="bottomEnd">
        <h6>Shifting jugnoo, Gurgaon Office 0124-4241078</h6>
        <h6><%- data.company_name %>,<%- data.company_phone %></h6>
      </div>
    </footer>
  </body>
</html>
